body{
  background-image: url("background.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 40vw;
}
ul{
  padding: 0px;
  margin: 3vw 0vw 3vw 0vw;
  list-style: none;
  display: grid;
  grid-template-columns: 17vw 17vw 17vw 17vw;
  grid-template-rows: 1fr;
  grid-gap: 2vw;
  align-content: center;
}
ul li{
  font-size: 2em;
}
ul li a{
  margin: 0px;
  text-decoration: none;
  color: black;
  border: solid green 2px;
  padding: 0vw 3vw 0vw 3vw;
  border-radius: 6px;
}
ul li a:hover{
  color: white;
  background-color: green;
  border: solid green 2px;
  transition-duration: 0.1s;
}
.jour_passe li a{
  color: green;
  text-decoration: none;
}
